.header-content {
    min-height: 90vh;
    background: linear-gradient(
            rgba(120, 35, 159, 0.4),
            rgba(120, 35, 159, 0.6)
        ),
        url('../../images/reading-c3.jpg') center/cover no-repeat;
    flex-direction: column;
}

.header-title {
    font-size: 40px;
}

.header-text {
    margin-bottom: 2.8rem;
    opacity: 0.9;
    max-width: 770px;
}
